<div class="sonic-audio-player-wrapper"
     ng-show="playlist">

  <div class="sonic-audio-player-base"></div>
  <!--<div class="sonic-audio-player-cover">-->
  <div class="sonic-audio-player">
    <div class="sap-section">
      <i class="sap-icon fa fa-step-backward" ng-if="playlist.length > 1"
         ng-click="audioCtrl.move('backward')"></i>
      <span class="sap-icon" ng-click="audioCtrl.play()">
        <i ng-if = "audioCtrl.showSpinner"
           class="fa fa-circle-o-notch fa-spin sap-spinner-icon"></i>
        <span class="sap-icon-play">
                <i class="{{audioCtrl.playIcon}}"
                   ng-if="!audioCtrl.showSpinner"></i>
        </span>
      </span>


      <i class="sap-icon fa fa-step-forward" ng-if="playlist.length > 1"
         ng-click="audioCtrl.move()"></i>
      <!--<i class="sap-icon fa fa-stop" ng-click="audioCtrl.stop()"></i>-->
      <span class="sap-icon spn-icon-volume {{audioCtrl.volumeIcon}}"
            ng-click="audioCtrl.showVolume(this)"
            ng-mouseleave="audioCtrl.showVolumeLevel = false"
            asc-click-anywhere-but-here = "audioCtrl.hideVolume()"
            stop-event='click'>
        <!--<span class="volume-level" ng-if="audioCtrl.showVolumeLevel">-->
          <input class="volume-level" type="range" class="level"
                 ng-if="audioCtrl.showVolumeLevel"
                 ng-click="audioCtrl.thisIsVolumeRange = true;"
                 ng-change="audioCtrl.volumeChange()"
                 ng-model="audioCtrl.volumeLevel" />
      </span>
      <!--</span>-->
      <!--<a ng-href={{audioCtrl.userProfileLink}}>-->
      <span ui-sref="profile.wall({id:'{{audioCtrl.userId}}'})"
            class="sap-icon user-img-background sap-image">
           <img  class="sap-info-image" src="{{audioCtrl.image}}" />
        </span>
      <!--</a>-->
      <span class="sap-info">

      <span class="sap-name">

        <span class="sap-info-user-name">
          <a ng-href={{audioCtrl.userProfileLink}}>
            {{audioCtrl.username}}
          </a>
        </span>

        <span class="sap-info-file-name">

           {{audioCtrl.filename}}

          <span class="progressbar">
            <span ng-show="audioCtrl.startOffset"
                  class="sonic-audio-player-meter sonic-audio-player-meter-left">
              {{ audioCtrl.startOffset | secondsToDateTime | date:'mm:ss'}}</span>
              <input class="progressbar-input" id="progressBar" type="range"
                     ng-change="audioCtrl.timeChange()"
                     ng-model="audioCtrl.playbackPosition" />
            <span class="sonic-audio-player-meter sonic-audio-player-meter-right">
              {{ audioCtrl.duration | secondsToDateTime | date:'mm:ss'}}</span>
          </span>
        </span>
      </span>
    </span>
      <span class="sap-error" ng-show="audioCtrl.showError">
        The file format is not supported.
      </span>
      <i class="sap-icon-close fa fa-times" ng-click="audioCtrl.close()"></i>
    </div><!--audio-player-first-section-->
  </div>
  <!--</div><!-sonic-audio-player-cover&ndash;&gt;-->
</div><!--sonic-audio-player-wrapper-->
